body {
    font-family: 'Verdana', 'Segoe UI', sans-serif;
	background-color: black;
	color: yellow;
}

span {
    font-style: italic;
}

#content {
}

canvas {
	margin: auto;
}

h1 {
	margin: 0;
	text-align: center;
}
