body {
    font-family: 'Verdana', 'Segoe UI', sans-serif;
	background-color: #202020;
	color: yellow;
}

span {
    font-style: italic;
}

p {
	text-align: center;
}

#statsCol {
	width: 256px;
	height: 640px;
	float: left;
}

#contentCol {
	float: left;
}

#content {
}

#pStatus {
	padding-top: 2em;
}

canvas {
	margin: auto;
}

h1 {
	text-align: center;
}
